<link rel="import" href="views/_part/header.html?__inline">

    <div class="content" style="width: 85%; margin-left: auto;margin-right: auto">

        <div class="content-title">
            <h3>添加铁矿粉</h3>
        </div>

        <div class="content-body" id="oreContentBody">

            <div style="display: inline">
                <label style="display: inline">铁矿粉名称:</label>
                <input type="text" class="form-control val ore-name" style="display: inline; width: auto;margin: 0px 0px 20px 30px" name="name" value="">
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">冶金性能</div>
                <div class="panel-body">
                    <form class="navbar-form">
                        <table class="add-table">
                            <tr>
                                <td>
                                    <label>同化性:</label>
                                    <input type="number" class="form-control val" min="0" style="width: 160px" name="assimilability" value="0" >
                                </td>
                                <td>
                                    <label>粘结相联度:</label>
                                    <input type="number" class="form-control val" min="0" style="width: 160px" name="bond_strength" value="0">
                                </td>
                                <td>
                                    <label>连晶强度:</label>
                                    <input type="number" class="form-control val" min="0" style="width: 160px" name="crystal_strength" value="0">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label>流动性:</label>
                                    <input type="number" class="form-control val" min="0" style="width: 160px" name="fluxility" value="0">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">化学性能</div>
                <div class="panel-body">
                    <form class="navbar-form">
                        <table class="add-table">
                            <tr>
                                <td>
                                    <label>Al2O3:</label>
                                    <input type="number" class="form-control val" min="0" style="width: 160px" name="al2o3" value="0">
                                </td>
                                <td>
                                    <label>CaO:</label>
                                    <input type="number" class="form-control val" min="0" style="width: 160px" name="cao" value="0">
                                </td>
                                <td>
                                    <label>FeO:</label>
                                    <input type="number" class="form-control val" min="0" style="width: 160px" name="feo" value="0">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>MgO:</label>
                                    <input type="number" class="form-control val" min="0" style="width: 160px" name="mgo" value="0">
                                </td>
                                <td>
                                    <label>SiO2:</label>
                                    <input type="number" class="form-control val" min="0" style="width: 160px" name="sio2" value="0">
                                </td>

                                <td>
                                    <label>TFe:</label>
                                    <input type="number" class="form-control val" min="0" style="width: 160px" name="tfe" value="0">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>烧损:</label>
                                    <input type="number" class="form-control val" min="0" style="width: 160px" name="burning_loss" value="0">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <div style="float: right">
                <button type="button" class="btn btn-primary" id="addOreConfirm">确定</button>
            </div>

        </div>

    </div>

    <div id="comfirmAddPop" class="popwrap popcy" style="margin-top: -165px;">
        <div class="popmain" style="width:430px;">
            <div class="title">
                <h4>添加铁矿粉</h4>
                <span class="glyphicon glyphicon-remove cancel-btn"></span>
            </div>

            <div style="height:230px;" class="cont">
                <div class="tabcon">
                    <h3>确认添加该铁矿粉?</h3>
                    <div style="float: right">
                        <button type="button" class="btn btn-warning cancel-btn">取消</button>
                        <button type="submit" class="btn btn-primary comfirm-btn">确定</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

<script type="text/javascript" src="static/js/ore/addOre.js"></script>
<link rel="import" href="views/_part/footer.html?__inline">