<link rel="import" href="views/_part/header.html?__inline">
    <style>
        .table>thead>tr>th,.table>tbody>tr>td {
            padding: 8px 2px;
            vertical-align: middle;
            text-align: center;
        }
        th[type=th] {
            width: 7%;
        }
    </style>
    <div class="content" style="width: 85%; margin-left: auto;margin-right: auto">

        <div class="content-title">
            <h3>搜索铁矿粉</h3>
        </div>

        <div class="panel-body">
            <div class="input-group search-group" style="margin-bottom: 20px">
                        <span class="input-group-btn"  id="accuSearch">
                            <button class="btn btn-primary" type="button">高级 <span class="glyphicon glyphicon-menu-down"></span>
                            </button>
                        </span>
                <input type="text" class="form-control" placeholder="百度一下，你就知道" id="kw">
                <div class="input-group-btn" id="searchStyle">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 105px">
                        <label style="margin: 0">铁矿粉名称</label> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" value="name">铁矿粉名称</a></li>
                        <li><a href="#" value="username">添加者</a></li>
                        <!--<li><a href="#" value="addtime">添加时间</a></li>-->
                    </ul>
                </div>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="searchBtn">搜索</button>
                        </span>

            </div>

            <div id="hiddenAccu" style="display: none">

                <div class="accu-group">
                    <div style="width: 10%;float:left"><h4>冶金性能</h4></div>
                    <div style="width: 80%;margin-left: 10%">
                        <form class="navbar-form">
                            <div class="search-table">
                                <div>
                                    <label>同化性:</label>
                                    <input type="text" class="form-control val min" min="0" style="width: 80px" name="assimilability">至
                                    <input type="text" class="form-control val max" min="0" style="width: 80px" name="assimilability">
                                </div>
                                <div>
                                    <label>粘结相联度:</label>
                                    <input type="text" class="form-control val min" min="0" style="width: 80px" name="bond_strength">至
                                    <input type="text" class="form-control val max" min="0" style="width: 80px" name="bond_strength">
                                </div>
                                <div>
                                    <label>连晶强度:</label>
                                    <input type="text" class="form-control val min" min="0" style="width: 80px" name="crystal_strength">至
                                    <input type="text" class="form-control val max" min="0" style="width: 80px" name="crystal_strength">
                                </div>

                                <div>
                                    <label>流动性:</label>
                                    <input type="text" class="form-control val min" min="0" style="width: 80px" name="fluxility">至
                                    <input type="text" class="form-control val max" min="0" style="width: 80px" name="fluxility">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="accu-group">
                    <div style="width: 10%;float:left"><h4>化学性能</h4></div>
                    <div style="width: 80%;margin-left: 10%">
                        <form class="navbar-form">
                            <div class="search-table">
                                <div>
                                    <label>Al2O3:</label>
                                    <input type="text" class="form-control val min" min="0" style="width: 80px" name="al2o3">至
                                    <input type="text" class="form-control val max" min="0" style="width: 80px" name="al2o3">
                                </div>
                                <div>
                                    <label>CaO:</label>
                                    <input type="text" class="form-control val min" min="0" style="width: 80px" name="cao">至
                                    <input type="text" class="form-control val max" min="0" style="width: 80px" name="cao">
                                </div>
                                <div>
                                    <label>FeO:</label>
                                    <input type="text" class="form-control val min" min="0" style="width: 80px" name="feo">至
                                    <input type="text" class="form-control val max" min="0" style="width: 80px" name="feo">
                                </div>

                                <div>
                                    <label>MgO:</label>
                                    <input type="text" class="form-control val min" min="0" style="width: 80px" name="mgo">至
                                    <input type="text" class="form-control val max" min="0" style="width: 80px" name="mgo">
                                </div>
                                <div>
                                    <label>SiO2:</label>
                                    <input type="text" class="form-control val min" min="0" style="width: 80px" name="sio2">至
                                    <input type="text" class="form-control val max" min="0" style="width: 80px" name="sio2">
                                </div>

                                <div>
                                    <label>TFe:</label>
                                    <input type="text" class="form-control val min" min="0" style="width: 80px" name="tfe">至
                                    <input type="text" class="form-control val max" min="0" style="width: 80px" name="tfe">
                                </div>

                                <div>
                                    <label>烧损:</label>
                                    <input type="text" class="form-control val min" min="0" style="width: 80px" name="burning_loss">至
                                    <input type="text" class="form-control val max" min="0" style="width: 80px" name="burning_loss">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <div class="content-body" id="oreContentBody">

            <div class="oreInfoList">

                <!-- Default panel contents -->
                <div class="panel panel-default">
                    <div class="panel-heading">搜索结果</div>
                    <!-- Table -->
                    <table class="table" id="oreList" style="word-break: break-all; word-wrap:break-word;">
                        <thead>
                            <tr>
                                <th type="th" value="name" style="">名称</th>
                                <th type="th" value="al2o3">Al2O3</th>
                                <th type="th" value="cao">CaO</th>
                                <th type="th" value="feo">FeO</th>
                                <th type="th" value="mgo">MgO</th>
                                <th type="th" value="sio2">SiO2</th>
                                <th type="th" value="tfe">TFe</th>
                                <th type="th" value="assimilability">同化性</th>
                                <th type="th" value="bond_strength">粘结相联度</th>
                                <th type="th" value="burning_loss">烧损</th>
                                <th type="th" value="crystal_strength">连晶强度</th>
                                <th type="th" value="fluxility">流动性</th>
                                <th type="th" value='username' style="">添加用户</th>
                                <th type="th" value="addtime" style="width: 9%">添加时间</th>
                            </tr>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>
                </div>

                <div style="margin:-20px auto 0 auto">
                    <nav>
                        <ul class="pagination">
                            <li class="page-previous">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li>

                            </li>
                            <li class="page-next">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>


        </div>

    </div>


    <div id="comfirmAddPop" class="popwrap popcy" style="margin-top: -165px;">
        <div class="popmain" style="width:430px;">
            <div class="title">
                <h4>添加铁矿粉</h4>
                <span class="glyphicon glyphicon-remove cancel-btn"></span>
            </div>

            <div style="height:230px;" class="cont">
                <div class="tabcon">
                    <h3>确认添加该铁矿粉?</h3>
                    <div style="float: right">
                        <button type="button" class="btn btn-warning cancel-btn">取消</button>
                        <button type="submit" class="btn btn-primary comfirm-btn">确定</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

<script type="text/javascript" src="static/js/ore/searchOre.js"></script>
<link rel="import" href="views/_part/footer.html?__inline">
