<!DOCTYPE html>
<html>
<head>
    <title>宣钢</title>


    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
</head>
<body>

    <div class="box">
        <div class="login-box">
            <div class="login-title text-center">
                <h1>
                    <small>宣钢烧结优化配矿专家系统</small>
                </h1>
            </div>
            <div class="login-content ">
                <div class="form">
                    <!--<form action="#" method="post">-->
                        <div class="form-group">
                            <div class="col-xs-12  ">
                                <div class="tips" id="usertip"></div>
                                <div style="clear: both">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input type="text" id="username" name="username" class="form-control" placeholder="用户名">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12  ">
                                <div class="tips" id="pwdtip"></div>
                                <div style="clear: both">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="text" id="password" name="password" class="form-control" placeholder="密码">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-actions">
                            <div class="col-xs-4 col-xs-offset-4 ">
                                <button type="submit" class="btn btn-sm btn-info" id="login"><span
                                        class="glyphicon glyphicon-off"></span> 登录
                                </button>
                            </div>
                        </div>

                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="/static/libs/jquery/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/static/libs/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/login.js"></script>
</body>
</html>
