*{
    font-family: Microsoft YaHei;
}

a,a:link,a:visited,a:active{
    text-decoration: none;
}

.glyphicon{
    cursor: pointer;
}

.warnning-tips{
    color: red;
    font-size: 10px !important;
    display: none;
}

.content-title > h1,.content-title > h2,.content-title > h3,.content-title > h4{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    padding-bottom: 10px;
}

.content-body{
    width: 100%;
    margin: auto;
}
div.add-table{
    white-space: normal;
}
.add-table div{
    display: inline-block;
    white-space: nowrap;
    line-height: 40px;
    width: 250px;
    margin: 0 10px 0 30px;
}
.add-table div label{
    display: inline-block;
    width: 80px;
}
.add-table div input{
    margin: 0 10px 0 0;
}

div.search-table{
    white-space: normal;
}
.search-table div{
    display: inline-block;
    white-space: nowrap;
    line-height: 40px;
    width: 250px;
    margin: 0 10px 0 30px;
}
.search-table div label{
    display: inline-block;
    width: 80px;
}
.search-table div input{
    margin: 0 10px 0 0;
}
.accu-group h4{
    color: #5c83d3;
    font-weight: bold;
}
.oreInfoList th{
    cursor: pointer;
}

/*烧结矿添加*/
.sinter-form{
    margin: 0 auto;
}
#sinterContentBody .add-table div{
    margin: 0 10px 0 60px;
}
#sinterContentBody label{
    width: 90px;
}
.oreComp{
    margin: 20px 0 0 60px;
}
.oreComp-area{
    white-space: nowrap;
    margin-bottom: 20px;
}
.oreComp-area label{
    vertical-align: top;
}
.ore-comps{
    display: inline-block;
    width: 600px;
    white-space: normal;
}
.ore-comps div{
    margin-bottom: 10px;
    min-width: 35px;
}
.oreSearch-area{
    margin-bottom: 30px;
}
.oreComp .ore-list{
    word-break: break-all;
    word-wrap:break-word;
    border:1px solid #ddd;
}
.btn-none{
    color: #fff;
    background-color: #aeaaac;
    border-color: #aeaaac;
    cursor: default;
}
.btn-none:hover{
    color: #fff;
}
/*弹窗*/
.popwrap.popcy {
    width: 580px;
    margin-left: -290px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    display: none;
}
.popmain {
    left: 8px;
    top: 8px;
    z-index: 2;
    width: 378px;
    background: #fff;
    border: 6px solid #666;
    border-radius: 6px;
}
.popmain .title {
    line-height: 40px;
    background-position: 0 -300px;
    background-repeat: repeat-x;
    padding: 0 10px;
    overflow: hidden;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #888888;
}
.title h4{
    float: left;
    font-weight: bold;
}
.title span{
    padding-top: 7px;
    float: right;
}
.popmain .cont {
    padding: 10px;
    width: 430px;
    background: #fff;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.tabcon h3{
    margin-bottom: 40px;
}
.blackmask {
    z-index: 9998;
    width: 100%;
    height: 100%;
    display: none;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #000;
    filter: alpha(opacity:50);
    opacity: 0.5;
}
.tabcon label{
    /*float: left;*/
    /*vertical-align: middle;*/
}